<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>

    <div class="container">
      <h1>Home</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        nulla delectus iusto minus! Deserunt tempore neque, repellendus facere
        vero exercitationem aperiam illo maiores ullam suscipit ratione
        accusamus architecto corporis illum, nihil distinctio explicabo,
        repudiandae aliquid iure soluta vel fuga modi impedit rem. Impedit
        cumque, consectetur expedita quisquam similique necessitatibus corporis
        temporibus unde blanditiis magni tenetur laboriosam quam dicta est.
        Ratione dolorem laboriosam quas, ad ea commodi soluta optio officiis
        similique, inventore tempora esse molestias impedit eum excepturi
        obcaecati quia dolore, voluptate vel. Consequatur cumque minima, tempora
        neque soluta, eaque voluptatem voluptatibus sint assumenda optio id
        impedit maxime amet est fugit.
      </p>
    </div>
  </body>
</html>
